@{
  Layout = "_Layout";
}

<h1>Welcome to the your Restaurant Interface!</h1>

<h4>@Html.ActionLink("See Order Menu", "Index", "Orders")</h4>
<p>@Html.ActionLink("See all Menu Items", "Index", "MenuItems")</p> 
<p>@Html.ActionLink("See all sizes", "Index", "Sizes")</p>

@* add create order views- create order and view orders and done orders
add view orders checkbox to check off when order is done 
add order model*@
