@{
  Layout = "_Layout";
}

<h1>Welcome to the your Restaurant Interface!</h1>
<p>@Html.ActionLink("See all Menu Items", "Index", "MenuItems")</p> 
<p>@Html.ActionLink("See all sizes", "Index", "Sizes")</p>

