@{
  Layout = "_Layout";
}

<h1>Welcome to the your Restaurant Interface!</h1>

<p>@Html.ActionLink("See all Menu Items", "Index", "MenuItems")</p> 
<p>@Html.ActionLink("See all sizes", "Index", "Sizes")</p>

@* make sure all thats are complete, with new orders. create kitchen view*@
